@model IEnumerable<GameCardViewModel>;
<ul>
	@foreach (var game in Model)
	{
		if (game.League.Name != ViewBag.LeagueName)
		{
			ViewBag.LeagueName = game.League.Name;
			<li class="LeagueLi"><div class="league">@game.League.Name</div></li>			
		}
		<li>
			<a class="GameLink" asp-area="" asp-controller="Game" asp-action="OneGame" asp-route-id="@game.Id">
				<div class="card">
					<div class="home">@game.HomeTeam.Name</div>
					<div class="away">@game.AwayTeam.Name</div>
					<div class="time">@game.Start.ToString("HH:mm")</div>
					<div class="vs">vs</div>
					<div class="homeWin">@game.HomeOdd</div>
					<div class="awayWin">@game.AwayOdd</div>
					<div class="line"></div>
				</div>
			</a>
		</li>
	}
</ul>