@model GameFormModel;
<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
		<form method="post">
			<div class="form-group">
				<label asp-for="HomeOdd"></label>
				<input asp-for="HomeOdd" class="form-control" placeholder="1.01 - 10">
				<span asp-validation-for="HomeOdd" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DrawOdd"></label>
				<input asp-for="DrawOdd" class="form-control" placeholder="1.01 - 10">
				<span asp-validation-for="DrawOdd" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AwayOdd"></label>
				<input asp-for="AwayOdd" class="form-control" placeholder="1.01 - 10">
				<span asp-validation-for="AwayOdd" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label ></label>
				<select id="leagueDropdown" class="form-control">
					@foreach (var league in Model.Leagues!)
					{
							<option value="@league.Id">@league.Name</option>
					}
				</select>
				<span class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="HomeTeamId"></label>
				<select id="homeTeamDropdown" asp-for="HomeTeamId" class="form-control">
					@foreach (var team in Model.Teams!)
					{
						<option value="@team.Id">@team.Name</option>
					}
				</select>
				<span asp-validation-for="HomeTeamId" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AwayTeamId"></label>
				<select id="awayTeamDropdown" asp-for="AwayTeamId" class="form-control">
					@foreach (var team in Model.Teams!)
					{
						<option value="@team.Id">@team.Name</option>
					}
				</select>
				<span asp-validation-for="AwayTeamId" class="small text-danger"></span>
			</div>
			<div class="text-center">
				<input class="btn btn-primary mt-3" type="submit" value="Create" />
			</div>
		</form>
	</div>
</div>

@section Scripts{
	<script>
		$(document).ready(function () {
			$('#leagueDropdown').on('change', function () {
				var selectedLeagueId = $(this).val();

				$.ajax({
					url: '/Game/Add',
					type: 'GET',
					data: { leagueId: selectedLeagueId },
					success: function (data) {
						// Clear and update the home team dropdown
						var homeTeamDropdown = $('#homeTeamDropdown');
						homeTeamDropdown.empty();
						$.each(data, function (index, team) {
							homeTeamDropdown.append($('<option></option>').val(team.Id).text(team.Name));
						});

						// Clear and update the away team dropdown
						var awayTeamDropdown = $('#awayTeamDropdown');
						awayTeamDropdown.empty();
						$.each(data, function (index, team) {
							awayTeamDropdown.append($('<option></option>').val(team.Id).text(team.Name));
						});
					},
					error: function () {
						console.log('Error fetching teams.');
					}
				});
			});
		});
	</script>
}