@model IEnumerable<GameCardViewModel>;
<ul id="listOfGames">
	@foreach (var game in Model)
	{
		if (game.League.Name != ViewBag.LeagueName)
		{
			ViewBag.LeagueName = game.League.Name;
			<li class="LeagueLi"><div class="league">@game.League.Name</div></li>
		}
		<li>
			<div class="card">
				<div class="home">@game.HomeTeam.Name</div>
				<div class="away">@game.AwayTeam.Name</div>
				<div class="time">@game.Start.ToString("HH:mm")</div>
				<div class="vs">vs</div>
				<button class="prediction-button" data-info="@game.Id" data-key="1" id="home">
					<span>@game.HomeOdd</span>
					<span></span>
				</button>
				<button class="prediction-button" data-info="@game.Id" data-key="0" id="draw">
					<span>@game.DrawOdd</span>
					<span></span>
				</button>
				<button class="prediction-button" data-info="@game.Id" data-key="2" id="away">
					<span>@game.AwayOdd</span>
					<span></span>
				</button>
				<div class="line-1"></div>
				<div class="line-2"></div>
				<div id="home">home</div>
				<div id="draw">draw</div>
				<div id="away">away</div>
			</div>
		</li>
	}
</ul>