@model IEnumerable<GameCardViewModel>;
@{
	Layout = null;
	ViewBag.Title = "Games";
}
<link rel="stylesheet" href="~/css/game_card_stylesheet.css" asp-append-version="true" />
<h2>@ViewBag.Title</h2>
<hr />
<div class="radio-inputs">
	<label>
		<input class="radio-input" type="radio">
		<span class="radio-tile">
			<span class="radio-icon">
			</span>
			<span class="radio-label">10.07</span>
		</span>
	</label>
	<label>
		<input class="radio-input" type="radio">
		<span class="radio-tile">
			<span class="radio-icon">
			</span>
			<span class="radio-label">11.07</span>
		</span>
	</label>
	<label>
		<input class="radio-input" type="radio">
		<span class="radio-tile">
			<span class="radio-icon">
			</span>
			<span class="radio-label">12.07</span>
		</span>
	</label>
	<label>
		<input class="radio-input" type="radio">
		<span class="radio-tile">
			<span class="radio-icon">
			</span>
			<span class="radio-label">13.07</span>
		</span>
	</label>
	<label>
		<input class="radio-input" type="radio">
		<span class="radio-tile">
			<span class="radio-icon">
			</span>
			<span class="radio-label">14.07</span>
		</span>
	</label>
	<label>
		<input class="radio-input" type="radio">
		<span class="radio-tile">
			<span class="radio-icon">
			</span>
			<span class="radio-label">15.07</span>
		</span>
	</label>
	<label>
		<input class="radio-input" type="radio">
		<span class="radio-tile">
			<span class="radio-icon">
			</span>
			<span class="radio-label">16.07</span>
		</span>
	</label>
</div>

<div>
<ul>
	@foreach (var game in Model)
	{
		if (game.League.Name != ViewBag.LeagueName)
		{
			ViewBag.LeagueName = game.League.Name;
			<li class="LeagueLi"><div class="league">@game.League.Name</div></li>
		}
		<li>
				<div class="card">
					<div class="home">@game.HomeTeam.Name</div>
					<div class="away">@game.AwayTeam.Name</div>
					<div class="time">@game.Start.ToString("HH:mm")</div>
					<div class="vs">vs</div>
						<button class="prediction-button" id="home">
							<span>@game.HomeOdd</span>
							<span></span>
						</button>
						<button class="prediction-button" id="draw">
							<span>@game.DrawOdd</span>
							<span></span>
						</button>
						<button class="prediction-button" id="away">
							<span>@game.AwayOdd</span>
							<span></span>
						</button>
						<div class="line-1"></div>
						<div class="line-2"></div>
				</div>
		</li>
	}
</ul>
</div>